.filmBody {
  width: 100%;
  height: 100vh;
  background-image: url('../../img/provaHomepageFilm.jpg');
  background-size: 100% 100vh;
  background-position: top center;
  background-repeat: no-repeat;
}



.filmContainer{
  box-sizing: border-box;
  margin: 0;
  padding: 5% 3% 1% 3%;
  color: #fff;
}

.filmBody .card {
  width: 11%;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 5px 8px 16px rgba(0, 0, 0, 0.3); 
  overflow: hidden;
  user-select: none;
  transition: transform 0.5s ease;
  cursor: pointer; 
}

.filmBody .card {
  width: auto;
  height: 30vh;
  border-radius: 10px;
}