table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  /* Stile per le celle dell'intestazione */
  table th {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /* Stile per le celle dei dati */
  table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Stile per le righe dispari */
  table tr:nth-child(odd) {
    background-color: #f9f9f9;
  }